<app-preview-question-header></app-preview-question-header>

<div class="body">
    <div class="previwQuestionSec">
        <div class="correctAnsDiv">
            <div class="question">
                <span class="questionNumber">Q1:</span>
                {{question}}
            </div>
            <div class="ansDiv">
                <div #draggableElement class="textPhrase" [innerHTML]="sanitizedTextPhrase">
                </div>

                <div class="responseOptions">
                    <ng-container *ngFor="let option of responses; let i = index">
                        <div class="responseOption" *ngIf="option.response !== ''" draggable="true"
                            (dragstart)="drag($event, option.response)">
                            <span class="material-symbols-outlined icon">drag_indicator</span>
                            <div class="option">{{ option.response || 'Response ' + (i + 1) }}</div>
                        </div>
                    </ng-container>
                </div>

                <button class="checkAns"  *ngIf="!isChecked" (click)="checkAns()">Check</button>
                <div class="btnGroup"  *ngIf="isChecked">
                    <button class="checkAns" (click)="tryAgain()">Try Again</button>
                    <button class="checkAns" (click)="showCorrectAns()">Show Correct ans</button>
                </div>

                <div class="showCorrectAnsDiv" *ngIf="isShowCorrectAns">
                    <h3 class="label">Correct Answer:</h3>
                    <div class="showCorrectAns">
                        <ul>
                          <li *ngFor="let answer of correctAns">{{ answer.ans }}</li>
                        </ul>
                      </div>
                </div>
            </div>

        </div>
    </div>
</div>