<div class="createQuestionSection">
    <div class="inputField">
        <input type="text" name="question" id="question" />
        <label for="question">Question(Stem)*</label>
      </div>
    <div class="inputField">
        <input type="text" name="textphrase" id="textphrase" />
        <label for="textphrase">Text Phrase*</label>
      </div>
    <div class="responsesDiv">
        <p class="label">Responses*</p>
        <div class="responseOptions">
            <div class="option">
                <div class="optionInputDiv">
                    <span class="material-symbols-outlined">
                        drag_indicator
                        </span>
                    <input type="text" placeholder="Response 1">
                </div>
                <span class="material-symbols-outlined">
                    delete
                </span>
            </div>
        </div>
        <button>Add Response</button>
    </div>
</div>
