.body {
    width: 100%;
    min-height: 100vh;
    background-color: #EEEEEE;
    padding-top: 24px;
}

.createQuestionSection {
    background-color: white;
    margin: 24px 40px;

    width: auto;
    display: flex;
    flex-direction: column;
    padding: 51px 24px 24px;



    .addTokenBtn {
        width: 136px;
        height: 28px;
        background-color: #E2F8FE;
        border: 1px solid #7994B3;
        color: #1F2834;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }

    p.label {
        font-size: 12px;
        color: #666666;
        margin-bottom: 12px;
        font-weight: bold;
    }

    .inputField {
        border-bottom: 2px solid #00000027;
        position: relative;

        &:nth-child(2) {
            margin-top: 83px;
        }

        input {
            border: none;
            outline: none;
            color: #222222;
            padding-bottom: 5px;
            font-size: 16px;
            font-weight: 600;
            width: 100%;

            &:focus~label {
                transform: translateY(-20px);
                font-size: 12px;
            }
        }

        .textphrase {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            line-height: 32px;
            text-wrap: wrap;
            color: #222222;
            font-size: 16px;
            font-weight: 600;
            width: 100%;
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            color: #666666;
            pointer-events: none;
            transition: 0.2s;
            font-size: 16px;
            font-weight: 600;
        }

    }

    .textPhraseDiv {
        label {
            transform: translateY(-20px);
            font-size: 12px;
        }
    }

    .responsesDiv {
        margin-top: 33px;

        .responseOptions {
            margin-bottom: 44px;
            display: flex;
            flex-direction: column;
            gap: 39px;
        }

        .option {
            display: flex;
            align-items: center;

            .optionInputDiv {
                border: 1px solid #0000001F;
                display: flex;
                align-items: center;
                flex: 1;
                height: 32px;

                input {
                    width: 99%;
                    height: 100%;
                    border: none;
                    outline: none;
                    padding-left: 8px;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .delete-icon {
                cursor: pointer;
                color: #1E7953;
                opacity: .4;
                margin-left: 8px;
            }
        }

        .addResonseBtn {
            width: 136px;
            height: 28px;
            background-color: #E2F8FE;
            border: 1px solid #7994B3;
            color: #1F2834;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    .setCorrectAnsDiv {
        margin-top: 56px;

        .setCorrectAnsDiv-options {
            display: flex;
            gap: 28px;

            .option {
                display: flex;
                align-items: center;

                input {
                    height: 18px;
                    width: 18px;
                }

                label {
                    font: normal normal bold 16px/20px Quicksand;
                    color: #222222;
                    padding: 0 8px;
                }

                .icon {
                    font-size: 16px;
                }
            }
        }
    }

    .correctAnsDiv {
        margin-top: 16px;
        background-color: #F3FBFF;

        p.label {
            padding: 16px 16px 0;
        }

        .question {
            padding: 0 16px 15px;
            font: normal normal 600 16px/20px Quicksand;
            display: inline-block;
            line-height: 40px;
        }

        .responseOptions {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='10%2c 5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
            margin: 13px 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 25px;
            gap: 10px;
            flex-wrap: wrap;

            .responseOption {
                cursor: pointer;
                border: 0.5px solid #757575;
                display: flex;
                align-items: center;
                background-color: #FFFFFF;

                .option {
                    padding: 5px 0;
                    padding-right: 8px;
                    font: normal normal bold 16px/20px Quicksand;
                }
            }
        }
    }
}










::ng-deep .token {
    background-color: #FFFFFF;
    width: 90px;
    height: 32px;
    border: 1px dashed rgba(0, 0, 0, 0.77);
    display: inline-block;
    text-align: center;
    line-height: 32px;
    box-sizing: border-box;
    margin: 0 10px;
}
