/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body{
    font-family: "Quicksand", sans-serif;
    // background-color: #EEEEEE;
}

.btn-primary{
    background-color: red;
    text-transform: uppercase;
    box-shadow: 0px 3px 5px #0000003D;
    background: transparent linear-gradient(0deg, #57B9FE 0%, #61E8FF 100%) 0% 0% no-repeat padding-box;
    border: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
}

.btnGroup{
    display: flex;
    gap: 16px;
}
.btn-secondary{
    background-color: #E2F8FE;
    border: 1px solid #7994B3;
    font-size: 14px;
    text-transform: uppercase;
    color: #1F2834;
    font-weight: 600;
    padding: 5px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    .icon{
        font-size: 24px;
    }
}
$navbarColor: #25313F;
$navbarTextColor: #3FD28B